.node {
  cursor: pointer;
}

rect {
  stroke: #000;
  stroke-width: 1px;
}

.red .yellow .green {
    opacity: 0.7;
}

.node circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

table {
  margin-bottom:20px;
  font-family: 10px sans-serif;
}

.table-title {
  margin-top:5px;
  margin-bottom:10px;
  font-family: 10px sans-serif;
}

.node text {
  font-family: 10px sans-serif;
}

#import {
  border-style:solid;
  border-radius:3px;
  border-width:1px;
  padding: 5px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#title-bar {
  color:white;
  font-size:14px;
  background-color:DarkSlateBlue;
  height:auto;
  line-height:50px;
  width:100%;
  margin-bottom:5px;
  margin-top:5px;
  display: inline-block;
}

#title {
  font-size:36px;
  color:orange;
  vertical-align: middle;
  line-height:50px;
  height:50px;
  margin-left:10px;
  margin-right:30px;
}

.input-g {
  color:white;
}

.button-g {
  color:white;
  background-color:steelblue;
  vertical-align: middle;
  display:inline-block;
  line-height:30px;
  height:30px;
  margin-left:5px;
  margin-right:5px;
  min-width:80px;
  text-align: center;
  border-radius: 5px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    min-width:100px;
    max-width:400px;
    width: auto;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

body {
    font: 14px sans-serif;
    font-family: 'Varela Round', 'Indie Flower', cursive;
    background-color:#f5f5f5;
    background-repeat: repeat-y;
    margin-top:0px;
    margin-left:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:4px;
}

.ui-selectmenu-menu {
    min-width: 140px;
    max-width: 200px;
    max-height: 400px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
    font: 'Varela Round', 'Indie Flower', cursive;
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:16px;
    vertical-align:middle;
}

.ui-selectmenu-button {
    min-width: 180px;
    max-width: 220px;
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:16px;
    vertical-align:middle;
}

.ui-button{
    min-width: 100px;
    max-width: 200px;
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:16px;
    vertical-align:middle;
}

#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected { 
    background: #F39814;
    color: white;
}

#selectable { 
    list-style-type: none;
    padding: 5px;
    height:300px;
    overflow-y:scroll;
    overflow-x:hidden;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-radius:3px;
    border-width:1px;
}

#selectable li { 
    margin: 3px; 
    padding: 0.4em; 
    font-size: 1.4em; 
    height: 18px;
}

p {
    font-size:16px;
}

.float-me {
    float: left;
    margin-right:5px;
}

#scores {
    font-size: 16px;
}

